@model List<Team>

@{
    ViewData["Title"] = "Team";
    ViewData["Description"] = "A quality room of hotel ATR with sea or mountain view";
    ViewData["Keywords"] = "quality, room, hotel, ATR";

    ViewData["PageName"] = "Our Staff";
    ViewData["PageDescription"] = "A quality room of hotel ATR with sea or mountain view";
}

<!-- Team Area Start -->
<section class="team-area pt-90 team-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center">
                    <h3>our special staff</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellente sque vel volutpat felis, eu condimentum massa. Pellentesque mollis eros vel mattis tempor. Aliquam </p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (Team team in Model)
            {
                <div class="col-md-4 col-sm-4">
                    <div class="single-team">
                        <div class="team-image">
                            <img src="data:image/jpe;base64,@Convert.ToBase64String(team.ImageTeam)" />
                        </div>
                        <div class="team-hover">
                            <h4>@team.FirstName @team.LastName</h4>
                            <span class="block">( @team.Position?.Name )</span>
                            <p>@team.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Team Area End -->
<!-- Client Area Start -->
<div class="client-area">
    <div class="container">
        <div class="row">
            <div class="client-carousel">
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/1.png" alt="" class="p-img">
                            <img src="img/client/1-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/2.png" alt="" class="p-img">
                            <img src="img/client/2-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/3.png" alt="" class="p-img">
                            <img src="img/client/3-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/4.png" alt="" class="p-img">
                            <img src="img/client/4-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
                <div class="single-client">
                    <div class="client-image">
                        <a href="#">
                            <img src="img/client/5.png" alt="" class="p-img">
                            <img src="img/client/5-hover.png" alt="" class="s-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client Area End -->
<!-- Newsletter Area Start -->
<section class="newsletter-area bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-sm-12 col-xs-12">
                <div class="newsletter-container">
                    <h3>NewsLetter Sign-Up</h3>
                    <div class="newsletter-form">
                        <form action="#" id="mc-form" class="mc-form fix">
                            <input id="mc-email" type="email" name="email" placeholder="Enter your E-mail">
                            <button id="mc-submit" type="submit" class="default-btn">subcribes</button>
                        </form>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->