@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "A quality room of hotel ATR with sea or mountain view";
    ViewData["Keywords"] = "quality, room, hotel, ATR";

    Layout = "_LayoutBase";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
