@model Login

<!-- Contact Form Area Start -->
<section class="contact-form-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="contact-title">contact info</h4>
                <div class="contact-text">
                    <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">+88 018 785 454 589</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span class="c-text">devitems@email.com</span></p>
                    <p>
                        <span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">
                            House 09, Road 32, Mohammadpur,<br>
                            Dhaka-1200, UK
                        </span>
                    </p>
                </div>
                <h4 class="contact-title">social media</h4>
                <div class="link-social">
                    <a href="https://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="https://www.rss.com/"><i class="zmdi zmdi-rss"></i></a>
                    <a href="https://plus.google.com/"><i class="zmdi zmdi-google-plus"></i></a>
                    <a href="https://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a>
                    <a href="https://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <h4 class="contact-title">Log In</h4>
                <form id="contact-form"
                      asp-controller="Account"
                      asp-action="Login"
                      method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" asp-for="Email" placeholder="Enter Email">
                        </div>
                        <div class="col-md-6">
                            <input type="password" asp-for="Password">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="default-btn">LOGIN</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form Area End -->